<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Anomaly Dog!</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='main_style.css')}}"
    />
  </head>
  <body>
    <img
      src="{{url_for('static', filename='images/anomaly_header.png')}}"
      style="width: 100%"
    />
    <p>Our goal is to find anomailes in the dataset.</p>

    <div class="centered bordered">
      <h2 class="formtitle">Upload file</h2>
      <form method="POST" action="" enctype="multipart/form-data">
        {{form.csrf_token}}
        <!-- <p><input type="file" name="data_file" accept=".csv"></p> -->
        {{form.uploadFile()}}

        <!-- <p><input type="text" name="col_name" placeholder="Column Name"></p> -->
        {{form.column()}}

        <!-- <p><input type="submit" value="Submit"></p> -->
        {{form.submit()}}
      </form>
    </div>
    <!-- <form class "" action = "/predict" method = "POST">
      <p>IOT Telemetry Data: co, temperature, humidity, etc</p>
      <p><input type = "text" name = "var"></p>
     
      <button type="submit" name="if" value = "if"> Predict Isolation Forest</button>
      <button type="submit" name="lof"> Predict Local Outlier Factor  </button>
     
   
 
    </form> -->
  </body>
</html>
